<h1>
    {{ cloth.name }}
</h1>
<div>
    <h2>
        {{ cloth.name }}
    </h2>
    <p>
        {{ cloth.description }}
    </p>
    <p>
        Color: {{ cloth.color }}
    </p>
    <p>
        Price: {{ cloth.price }} сом
    </p>
    <p>
        Added on: {{ cloth.created_at|date:"Y-m-d" }}
    </p>

    <h3>
        Reviews:
    </h3>
        {% for review in cloth.reviews.all %}
            <p>
                {{ review.text }}
            </p>
        {% endfor %}


    <h3>Tags:</h3>
        {% for tag in cloth.tags.all %}
            <p>
                {{ tag.title }}
            </p>
        {% endfor %}

    <a href="/clothes/">Back to main page</a>
</div>

