{% extends 'components/navbar.html' %}

{% block content %}


<h1>
    {{ cloth.name }}
</h1>
<div>
    <img src="/media/{{ cloth.image }}", width=300>
    <p>
        {{ cloth.description }}
    </p>
    <p>
        Color: {{ cloth.color }}
    </p>
    <p>
        Price: {{ cloth.price }} сом
    </p>
    <p>
        Added on: {{ cloth.created_at|date:"Y-m-d" }}
    </p>

    <h3>
        Tags:
    </h3>
        {% for tag in cloth.tags.all %}
            <p>
                {{ tag.title }}
            </p>
        {% endfor %}


    <h3>
        Reviews:
    </h3>
        {% for review in cloth.reviews.all %}
            <p>
                {{ review.text }} - {{ review.created_at }}
            </p>
        {% endfor %}
</div>


<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Add Review" class="btn btn-primary">
</form>

<a href="/clothes/">Back to main page</a>

{% endblock %}